:root 
{
--main-font: 'Roboto', sans-serif;
--secondary-font: "Raleway", sans-serif;
--primary-text-color: #2e2f42;
  --secondary-text-color: #434455;
  --text-color-hover: #4d5ae5;
  --accent-color: #404bbf;
  --background-color: #ffffff;
  --background-btn-filters: #f4f4fd;
}

.list{
   list-style: none;
   text-decoration: none
}
    
  body {
   color:#434455; 
   background-color:#FFFFFF;
   font-family: "Roboto", sans-serif;
  }
  .link {
   text-decoration: none;
  }
   
  .contact{
    font-style: normal;
  }
      
  .navigation-item:hover,
  .navigation-item:focus {
   color: #404bbf;
  }
.navigation-link
{
     font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   
   letter-spacing: 0.02em;
   
   color: #2E2F42;
   }
.navigation-link:hover,
.navigation-link:focus {
   color: #404bbf;
}

.logo{
 font-family: "Raleway",sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;
}
.span-one
{
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 800;
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase ;
   
   color: #2E2F42;
}
.studio{
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #2E2F42;
}


.portfolio{
   
      }

.contacts{
   font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2E2F42;

}
.adress{
   font-style: normal ; 
}
.adress-link{
         font-style: normal;
        
         font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        
        color: #434455;
        text-decoration: none;
      }
      .link:hover,
      .link:focus {
      color: #404BBF;
      }

.span-one{
   
font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase ;

color: #2E2F42;
 
}
.modal-button:hover,
  .modal-button:focus {
   background-color: #404BBF;
         color: #FFFFFF;
       } 

    
.button{
     color: var(--primary-white-color);
     background: #4D5AE5;
}

   
/* /!--hero--/ */

.hero
{
   background-color:#2e2f42;
}

.hero-title{
text-align: center;

font-weight: 700;
Font-size:56px;
Line-height:1.07;
text-align: center;
letter-spacing: 0.02em;
 
color: #FFFFFF;
}
.modal-button{
   font-family: "Roboto", sans-serif; 
   letter-spacing: 0.04em ;
   cursor: pointer;
   background-color: #4D5AE5;
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
    
    color:#FFFFFF;
}
/*--section-three-- */
.section-title{
         font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
   
       color: #2e2f42;
 }

/* section-two */
.title-strategy{
   
font-weight: 500;
font-size: 20px;
line-height: 1.2;

letter-spacing: 0.02em;

color: #2E2F42;

}
/*--section-four-- */
.mark{
   background-color: #FFFFFF;  
}
.section-title-People{
background-color: #F4F4FD;}
/* .masters// */
.masters
{background-color: #F4F4FD;
}

.section-four{
   font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.11;

text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;

color: #2E2F42;

}
.work-list{
   background-color: #FFFFFF; 
}
 
 .feature-list .title {
        color: var(--title-text-color);
      }
  .title-Strategy
  {
   font-family: "Roboto";
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42 ;
 }
 
 
 .section-description{
  


font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;

color: #434455;
 }
 .work-list{
   font-family: "Roboto";
      
 }
 .section-title{
  
 }
 .section-description{
   background: #FFFFFF;
 }
 .staff
 {
      font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
   color:  #2E2F42;
 }
 .profession{
       font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
     color:  #434455 
 }

 /* portfolio */
 
.button-filter:hover,
.button-filter:focus {
color:#FFFFFF;
background-color: #404BBF;
}
.button-filter
{
font-family: 'Roboto',sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;

letter-spacing: 0.04em;
    color: #4D5AE5;
background-color: #F4F4FD;
cursor: pointer;}

 .site-nav-list{
   
    
   
}

.site-nav-list:hover,
.site-nav-list:focus {
   color: #FFFFFF;
}

 


 
.description
{ font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  
color: #2e2f42;
}
.description-direction{
  
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   
   color: #434455;
   } 
   
   .section-title {background: #FFFFFF;}
   .section-title-description
/* footer */
.target{
   font-weight: 400;
font-size: 16px;
line-height: 1.5;

letter-spacing: 0.02em;

color: #F4F4FD;
}
.footer{
   background: #2E2F42;
}
.span-two{
      font-weight: 800;
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase ;
   color: #f4f4fd;
}
.target{
   font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;

color: #F4F4FD;

}