

  .navigation-list-list{

  }
  body {
    font-family: var(--main-font);
  }
    
  .address {
    font-style: normal;
  }
  
.logo{
    font-family: "Raleway", sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
text-transform: uppercase;
color: #4D5AE5;

}
.navigation-link-link{
   font-family: 'Roboto';
font-style: normal;
}
.studio{
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;

letter-spacing: 0.02em;

color: #2E2F42;
}




.span-one{
   
font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.17;

letter-spacing: 0.03em;
text-transform: uppercase ;


color: #2E2F42;
 
}

    
}
h1,
h2,
h3{
    font-family:roboto;  
}

.button{
     color: var(--primary-white-color);
}
.button.primary {
color: var(--accent-color);
color: var(--primary-white-color);
}
.button.secondary{
    color: var(--accent-color);
    color:var(--primary-white-color);
}     
/* /!--hero--/ */
.hero-title{
 color: var(--title-text-color);  
font-weight: 700;
Font size: 56px
Line-height: 1.17
text-align: Center;
} 
 .modal-button{
     font-style: normal;
 font-weight: 500;
 font-size: 16px;
 line-height: 1.5;
  display: flex;
  align-items: center;
  color:#FFFFFF;
 }
 .section-title{
    color: var(--title-text-color);  
 }
 .feature-list .title {
        color: var(--title-text-color);
      }
  .title-strategye
  {
font-weight: 500;
font-size: 20px;
line-height: 1.2;

color: #2E2F42 

 }
 .text{
font-weight: 400;
font-size: 16px;
line-height: 1.2;

 color: #344455 
 }
 .title-Punctuality
 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    
    color: #2E2F42 
 }
 .title-Punctuality{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    
    color: #2E2F42 

 }
 .title-Diligence{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    
    color: #2E2F42 
  
 }
 .title-Technologies{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    
    color: #2E2F42 
  
 }
 .work-list{
    box-sizing:border-box;
    width: 360px;
    height: 300px
 }
 .section-description{

 }
 .staff
 {font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
   text-align: center;
   color:  #2E2F42;
   
 }
 .profession{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    
     color:  #434455 
 }