

:root 
{
--main-font: 'Roboto', sans-serif;
--secondary-font: "Raleway", sans-serif;
font-family: var(--main-font);}

.list{
   list-style: none;
   text-decoration: none
}
  
  
  body {
    font-family: var(--main-font);
  }
  .link {
   text-decoration: none;
   list-style: none;
 }
 .link:hover,
      .link:focus {
      color: #404BBF;
      }
  
  .address {
    font-style: normal;
  }
      
  
.navigation-item:hover,
   navigation-item:focus{color: #404bbf ;
}
.navigation-link{
   font-family: "Raleway",sans-serif;
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   
   letter-spacing: 0.02em;
   
   color: #2E2F42;
   }
   .navigation-link:hover,
.navigation-link:focus {
   color: #404bbf;
}
   

.logo{
 font-family: "Raleway",sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;
}
.span-one
{
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 800;
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase ;
   
   color: #2E2F42;
}
.studio{
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #2E2F42;
}


.portfolio{
    font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
      color: #2E2F42;
    
}

.contacts{
   font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2E2F42;

}
.adress-link{
         font-style: normal;
         font-family: 'Roboto';
         font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        
        color: #434455;
        text-decoration: none;
      }
      .link:hover,
      .link:focus {
      color: #404BBF;
      }

  


.span-one{
   
font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase ;

color: #2E2F42;
 
}
.button:hover,
       :focus {
         color: #FFFFFF;
       } 

    
.button{
     color: var(--primary-white-color);
     background: #4D5AE5;
}
.button.primary {
color: var(--accent-color);
color: var(--primary-white-color);
}
.button.secondary{
    color: var(--accent-color);
    color:var(--primary-white-color);
}     
/* /!--hero--/ */

.hero{
   background-color: #2e2f42 
}

.hero-title{
 color: var(--title-text-color);  
 font-family: "Roboto";
font-weight: 700;
Font-size:56px;
Line-height:1.07;

letter-spacing: 0.02em;
color: #FFFFFF;
}
.modal-button{
   bbackground: #4D5AE5;
   font-family: "Roboto", sans-serif;
   letter-spacing: 0.04em ;
   cursor: pointer;
}




.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-color);}
 .modal-button{
     font-style: normal;
 font-weight: 500;
 font-size: 16px;
 line-height: 1.5;
  
  color:#FFFFFF;
 }
 .section-title{
    color: var(--title-text-color);  
 }
 .feature-list .title {
        color: var(--title-text-color);
      }
  .title-Strategy
  {
   font-family: "Roboto";
font-weight: 500;
font-size: 20px;
line-height: 1.2;

color: #2E2F42 ;
 }
 .text
 {font-family: "Roboto";
font-weight: 400;
font-size: 16px;
line-height: 1.2;
 color: #344455 
 }
 .title-Punctuality
 {font-family: "Roboto";
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    
    color: #2E2F42 
 }
 .title-Diligence{
   font-family: "Roboto";
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    
    color: #2E2F42 
  
 }
 .title-Technologies{
   font-family: "Roboto";
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    
    color: #2E2F42 
  
 }
 .work-list{
   font-family: "Roboto";
    box-sizing:border-box;
    width: 360px;
    height: 300px
 }
 .section-description{
   background: #FFFFFF;
 }
 .staff
 {font-family: "Roboto";
   font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  
   color:  #2E2F42;
   
 }
 .profession{
   font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    
     color:  #434455 
 }

 /* portfolio */
 .button-filter {
color: #4D5AE5;
background-color: #F4F4FD;
cursor: pointer;}
.button-filter:hover,
.button-filter:focus {

background-color: #404BBF;
}
 .site-nav-list{
   background: #F4F4FD;
   font-family: 'Roboto',sans-serif;
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   
   
   letter-spacing: 0.04em;
   ;    color: #4D5AE5;
   background-color: #F4F4FD
}
.



.button-nav-link:hover,
.button-nav-link:focus {
  color: var(--accent-color);}

 .button-active-list{
   
padding: 12px 24px;
width: 69px;
height: 48px;

background: #404BBF;
 }
 .button-filter{
    font-family: 'Roboto',sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;

letter-spacing: 0.04em;
;    color: #4D5AE5;
background-color: #F4F4FD;
cursor: pointer;}



   
 

.description-Banking{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;

color: #2E2F42;
}
.description-direction{
   font-family: 'Roboto';
     font-weight: 400;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   
   color: #434455;
   } 
}